<div class="container-fluid">
    <div class="jumbotron">
        <button type="button" class="btn btn-block btn-primary mt-3" id="ScanBtn">扫描二维码</button>
    </div>
</div>

<script type="text/javascript">
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: 'wxc15f96471ac8980b', // 必填，公众号的唯一标识
        timestamp: @ViewBag.timestamp, // 必填，生成签名的时间戳
        nonceStr: '@ViewBag.noncestr', // 必填，生成签名的随机串
        signature: '@ViewBag.signture',// 必填，签名
        jsApiList: ['scanQRCode'] // 必填，需要使用的JS接口列表
    });


    $(document).ready(function () {


        $('#ScanBtn').click(function () {
            wx.scanQRCode({
                needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                success: function (res) {
                    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果

                    $.get('/api/Lot?LotSN=' + result, function (ret) {

                        if (status == 'error') {
                            alert(ret);
                        }
                        var ret = JSON.parse(ret);
                        if (ret.success == true) {
                            if (ret.data.pr.ProductName == "" || ret.data.pr.ProductName == null || ret.data.pr.ProductName == undefined) {
                                alert("产品不存在,或者批号不存在！请重新扫描！");
                            } else {
                                window.location.href = "http://kocel.stopno.net/Home/PDF?productID=" + ret.data.pr.ProductName;
                            }
                            
                        }
                        else {
                            alert(ret.error);
                        }

                    })

                    
                }
            });
        })

        //wx.ready(function () {
        //    wx.scanQRCode({
        //        needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
        //        scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
        //        success: function (res) {
        //            var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果

        //            $.get('/api/Lot?LotSN=' + result, function (ret) {

        //                if (status == 'error') {
        //                    alert(ret);
        //                }
        //                var ret = JSON.parse(ret);
        //                if (ret.success == true) {
        //                    window.location.href = "http://kocel.stopno.net/Home/PDF?productID=" + ret.data.pr.ProductName;
        //                }
        //                else {
        //                    alert(ret.error);
        //                }

        //            })

                    
        //        }
        //    });
        //});
    });

</script>
